:root {
  --font-family: "Jost", sans-serif;
  --container-width: 1220px;
  --container-fluid-width: 1786px;

  // colors
  --white: #fff;
  --black: #000;
  --green: #4C858B;
  --red: #E33E54;
  --red-darken: #AE2236;
  --orange: #EA6628;
}