mixin burger
  button.btn-reset.burger.header__button
    span.burger__line
    span.burger__line
    span.burger__line

mixin blockTitle(text, className)
  h2.block__title(class=className)
    | #{text}