extends ../layouts/default

block variables

block content
  include ../../components/title/title.pug
  include ../../components/breadcrumbs/breadcrumbs.pug
  include ../../components/about/about.pug
  include ../../components/process/process.pug
  include ../../components/why/why.pug
  include ../../components/consultation/consultation.pug