.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  @include tablet {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 55px;
  }

  @include mobile {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }
}
