- 
  let aboutList = [
    'Доступные цены',
    'Собственное производство Дымоходов',
    'Выполнение необходимых работ, связанных с установкой камина, печи, котла',
    'Гарантия (от трёх до десяти лет)',
    'Работаем чисто, аккуратно, убираем за собой, не сквернословим',
    'Только русские квалифицированные специалисты',
    'Устанавливаем любые дымоходы всех производителей'
  ]

.about
  .container
    .about__inner
      p.about__text 
        |В 
        span.text-red Дымоход.ру 
        |вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
      .about__content
        h3.about__title 
          |Lorem ipsum dolor sit amet
          br
          span.text-red Lorem ipsum
        ul.about__list
          each item in aboutList
            li.about__list-item= item
        .about__image
          include ../../assets/images/about.svg
