@mixin burger {
  --burger-width: 22px;
  --burger-line-height: 2px;

  position: relative;
  color: var(--green);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: currentColor;
    border-radius: 4px;
    transition: var(--transition);
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--burger-width);
    height: var(--burger-line-height);
    background-color: currentColor;
    border-radius: 4px;
    transform: translateY(-50%);
    transition: var(--transition);
  }

  &-active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: var(--transition);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: var(--transition);
    }

    .burger__line {
      transform: scale(0);
      transition: var(--transition);
    }
  }
}
